.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite .5s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
  animation: color-change 30s infinite;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@keyframes color-change {
   0%   {background-color:#7FD1B9 ;}
   25%  {background-color:#FFC09F ;}
   50%  {background-color:#FFEE93 ;}
   75%  {background-color:#258EA6 ;}
   100%  {background-color:#7FD1B9 }
}
