@media only screen and (max-width: 1200px) {
  /* line 21, ../../compass/sass/styles.scss */
  .button-div {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
  }

  /* line 25, ../../compass/sass/styles.scss */
  .phone-view {
    display: block !important;
  }

  /* line 28, ../../compass/sass/styles.scss */
  .computer-view {
    display: none !important;
  }

  /* line 31, ../../compass/sass/styles.scss */
  .card-rating {
    left: 45.5% !important;
  }
}
@media only screen and (max-width: 992px) {
  /* line 37, ../../compass/sass/styles.scss */
  .card-rating {
    left: 44% !important;
  }
}
@media only screen and (max-width: 768px) {
  /* line 44, ../../compass/sass/styles.scss */
  .pipe {
    display: none !important;
  }

  /* line 47, ../../compass/sass/styles.scss */
  .card-title {
    font-size: 30px !important;
  }

  /* line 50, ../../compass/sass/styles.scss */
  .card-date {
    font-size: 20px !important;
  }

  /* line 54, ../../compass/sass/styles.scss */
  .card-lineup {
    font-size: 15px !important;
  }

  /* line 58, ../../compass/sass/styles.scss */
  .card-rating {
    left: 43% !important;
  }
}
@media only screen and (max-width: 450px) {
  /* line 66, ../../compass/sass/styles.scss */
  .card-rating {
    left: 38.5% !important;
  }
}
@media only screen and (max-width: 500px) {
  /* line 74, ../../compass/sass/styles.scss */
  .comment-text {
    font-size: 11px !important;
  }

  /* line 78, ../../compass/sass/styles.scss */
  .comment-username {
    font-size: 13px !important;
  }

  /* line 82, ../../compass/sass/styles.scss */
  .comment-date {
    font-size: 8px !important;
  }
}
/* line 90, ../../compass/sass/styles.scss */
.intro-text {
  padding-top: 85px !important;
  padding-bottom: 85px !important;
}

@keyframes button-color-change {
  0% {
    background-color: #FFF275;
    color: #A23E48;
  }
  50% {
    background-color: #A23E48;
    color: #FFF275;
  }
  100% {
    background-color: #FFF275;
    color: #A23E48;
  }
}
/* line 104, ../../compass/sass/styles.scss */
.register-label {
  font-family: 'Days One', sans-serif;
  color: #A23E48;
}

/* line 110, ../../compass/sass/styles.scss */
.phone-view {
  display: none;
}

/* line 114, ../../compass/sass/styles.scss */
.computer-view {
  display: block;
}

/* line 118, ../../compass/sass/styles.scss */
.App {
  text-align: center;
}

/* line 123, ../../compass/sass/styles.scss */
body {
  background-color: #fff;
}

/* line 127, ../../compass/sass/styles.scss */
.navbar {
  box-shadow: -1px 0 2px 0 rgba(0, 0, 0, 0.12), 1px 0 2px 0 rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.24);
  border-radius: 0px;
  background-color: #FFF275;
  border: none;
  margin-bottom: 0px;
}
/* line 133, ../../compass/sass/styles.scss */
.navbar a {
  color: #A23E48 !important;
  font-family: 'Monoton', cursive;
  font-size: 32px;
}

/* line 141, ../../compass/sass/styles.scss */
.landing-wrapper {
  background-color: #6699CC !important;
}

/* line 145, ../../compass/sass/styles.scss */
.landing-page-btn {
  box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.4);
  background-color: white;
  color: #6699CC;
  font-family: 'Monoton', cursive;
  animation: button-color-change 4s infinite;
}

/* line 155, ../../compass/sass/styles.scss */
.log-reg-link a {
  font-size: 18px;
}

/* line 159, ../../compass/sass/styles.scss */
.intro-text {
  font-family: 'Days One', sans-serif;
  font-size: 30px;
  color: white;
  padding-top: 170px;
}

/* line 166, ../../compass/sass/styles.scss */
.buttons-wrapper {
  background-color: #6699CC;
}

/* line 170, ../../compass/sass/styles.scss */
.greeting-register-wrapper {
  height: 400px;
  background-size: cover;
  background-image: url("../landing-background-gradient.png");
}

/* line 177, ../../compass/sass/styles.scss */
.kill-padding-margin {
  padding: 0px;
}

/* line 181, ../../compass/sass/styles.scss */
.greeting {
  color: black;
  border: 1px solid black;
  display: inline-block;
  height: 400px;
  margin-top: 100px;
}

/* line 190, ../../compass/sass/styles.scss */
.register-form {
  border: 1px solid black;
  display: inline-block;
  height: 250px;
  margin-top: 75px;
}

/* line 198, ../../compass/sass/styles.scss */
.checkout-text {
  font-size: 40px;
  color: white;
  font-family: 'Days One', sans-serif;
}

/* line 204, ../../compass/sass/styles.scss */
.navbar-toggle {
  background-color: #6699CC;
  border: none;
}

/* line 210, ../../compass/sass/styles.scss */
.glyphicon-headphones {
  font-size: 18px;
  color: white;
}

/* line 215, ../../compass/sass/styles.scss */
.navbar-toggle:hover {
  background-color: #A23E48 !important;
}

/* line 228, ../../compass/sass/styles.scss */
.button-div {
  margin-top: 100px;
  margin-bottom: 100px;
}

/* line 234, ../../compass/sass/styles.scss */
.landing-page-btn {
  height: 100px;
  width: 400px;
  font-size: 30px;
}

/* line 241, ../../compass/sass/styles.scss */
.modal-title {
  font-family: 'Days One', sans-serif;
}

/* line 245, ../../compass/sass/styles.scss */
.modal-header, .modal-footer {
  color: #A23E48;
}

/* line 250, ../../compass/sass/styles.scss */
.register-modal-header {
  color: #A23E48;
}

/* line 254, ../../compass/sass/styles.scss */
.login-button, .register-button {
  width: 100%;
  font-family: 'Monoton', cursive;
}

/* line 260, ../../compass/sass/styles.scss */
.login-button {
  background-color: #A23E48;
  color: #FFF275;
  font-size: 30px;
  border: none;
}
/* line 266, ../../compass/sass/styles.scss */
.login-button:hover {
  background-color: #FFF275;
  color: #A23E48;
}

/* line 271, ../../compass/sass/styles.scss */
.login-error-label-hide {
  display: none;
}

/* line 275, ../../compass/sass/styles.scss */
.register-button {
  background-color: #A23E48;
  color: #FFF275;
  font-size: 30px;
  border: none;
}
/* line 281, ../../compass/sass/styles.scss */
.register-button:hover {
  background-color: #FFF275;
  color: #A23E48;
}

/* line 288, ../../compass/sass/styles.scss */
.register-error-label-hide {
  display: none;
}

/* line 293, ../../compass/sass/styles.scss */
.modal-dialog {
  margin: 100px auto;
}

/* line 296, ../../compass/sass/styles.scss */
.modal-body {
  height: 100%;
}

/* line 300, ../../compass/sass/styles.scss */
.background-image {
  width: 100%;
  height: 100%;
}

/* line 305, ../../compass/sass/styles.scss */
.card-wrapper {
  padding: 0px 0px 25px 0px;
  font-family: 'Days One', sans-serif;
  background-color: #6699CC;
  color: white;
  box-shadow: 4.2px 4.2px 3px rgba(0, 0, 0, 0.2);
}

/* line 315, ../../compass/sass/styles.scss */
.festival-wrapper {
  background-color: #EEF4F7;
}

/* line 319, ../../compass/sass/styles.scss */
.card-header {
  width: 100%;
}

/* line 327, ../../compass/sass/styles.scss */
.card-title {
  font-family: 'Monoton', cursive;
  font-size: 40px;
  padding-top: 75px;
}

/* line 334, ../../compass/sass/styles.scss */
.card-date {
  font-size: 30px;
  padding-top: 30px;
}

/* line 340, ../../compass/sass/styles.scss */
.card-lineup {
  padding-top: 40px;
  font-size: 20px;
}
/* line 343, ../../compass/sass/styles.scss */
.card-lineup ul {
  list-style-type: none;
  padding: 0;
}

/* line 351, ../../compass/sass/styles.scss */
.card-header {
  position: relative;
  height: 400px;
}

/* line 358, ../../compass/sass/styles.scss */
.card-image-container {
  padding-top: 20px;
}

/* line 361, ../../compass/sass/styles.scss */
.card-image {
  max-width: 100%;
  height: auto;
}

/* line 372, ../../compass/sass/styles.scss */
.card-rating {
  padding: 0;
  position: absolute;
  left: 46.5%;
  top: -40px;
  background-color: #FFF275;
  border-radius: 50%;
  height: 75px;
  width: 75px;
  line-height: 72px;
  font-size: 30px;
  color: #A23E48;
  border: 2px solid #6699CC;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.4);
}

/* line 388, ../../compass/sass/styles.scss */
.card-button {
  background-color: white;
  width: 250px;
  height: 65px;
  margin-top: 30px;
  font-size: 18.342px;
}
/* line 394, ../../compass/sass/styles.scss */
.card-button:hover {
  color: #A23E48;
}

/* line 399, ../../compass/sass/styles.scss */
.card-description {
  margin-top: 40px;
  margin-bottom: 10px;
  font-family: 'Titillium Web', sans-serif;
  font-size: 16px;
}

/* line 406, ../../compass/sass/styles.scss */
.click-me {
  z-index: 1;
  position: relative;
  color: black;
  margin-top: 9px;
  margin-bottom: -22.5px;
  font-size: 10px;
}

/* line 416, ../../compass/sass/styles.scss */
.post-comment-label-hide {
  display: none;
}

/* line 421, ../../compass/sass/styles.scss */
.post-comment-label-show {
  color: red;
}

/* line 425, ../../compass/sass/styles.scss */
.in-between-cards {
  margin-bottom: 50px;
  margin-top: 50px;
}

/* line 430, ../../compass/sass/styles.scss */
.avatar-image {
  height: 60px;
  width: 60px;
}

/* line 435, ../../compass/sass/styles.scss */
.comment {
  word-wrap: break-word;
  max-width: 200px;
}

/* line 439, ../../compass/sass/styles.scss */
.comment-text {
  color: black;
}

/* line 443, ../../compass/sass/styles.scss */
.comment-username {
  text-decoration: underline;
  color: #A23E48;
}

/* line 448, ../../compass/sass/styles.scss */
.comment-table {
  background-color: white;
}

/* line 452, ../../compass/sass/styles.scss */
.comment-date {
  color: black;
  text-align: right;
}

/* line 457, ../../compass/sass/styles.scss */
.post-button {
  background-color: #A23E48;
  color: white;
  border: none;
  margin-top: 5px;
}

/* line 464, ../../compass/sass/styles.scss */
.avatar-image-td {
  width: 30px;
}

/* line 468, ../../compass/sass/styles.scss */
.glyphicon-star-empty {
  color: #A23E48;
  height: 40px;
  width: 40px;
  font-size: 40px;
  font-weight: none;
}

/* line 476, ../../compass/sass/styles.scss */
.glyphicon-star {
  color: #FF8C42;
  height: 40px;
  width: 40px;
  font-size: 40px;
}

/* line 483, ../../compass/sass/styles.scss */
.btn-info {
  background-color: #6699CC;
}
