/* line 3, ../../compass/sass/styles.scss */
.App {
  text-align: center;
}

/* line 8, ../../compass/sass/styles.scss */
body {
  background-color: white;
}

/* line 12, ../../compass/sass/styles.scss */
.navbar {
  border-radius: 0px;
}

/* line 16, ../../compass/sass/styles.scss */
.greeting-register-wrapper {
  height: 400px;
  background-color: lightblue;
  background-size: cover;
}

/* line 25, ../../compass/sass/styles.scss */
.container-fluid {
  background-image: url("../landing-background-smaller.png");
  background-image: cover;
}

/* line 30, ../../compass/sass/styles.scss */
.greeting {
  color: black;
  border: 1px solid black;
  display: inline-block;
  height: 400;
  margin-top: 100px;
}

/* line 39, ../../compass/sass/styles.scss */
.register-form {
  border: 1px solid black;
  display: inline-block;
  height: 250px;
  margin-top: 75px;
}

/* line 47, ../../compass/sass/styles.scss */
.buttons-wrapper {
  border: 1px solid purple;
}

/* line 51, ../../compass/sass/styles.scss */
.button-div {
  margin-top: 100px;
  margin-bottom: 100px;
}

/* line 61, ../../compass/sass/styles.scss */
.login-button, .register-button {
  width: 100%;
}

/* line 68, ../../compass/sass/styles.scss */
.modal-dialog {
  margin: 100px auto;
}

/* line 72, ../../compass/sass/styles.scss */
.background-image {
  width: 100%;
  height: 100%;
}

/* line 77, ../../compass/sass/styles.scss */
.card-wrapper {
  border: 1px solid green;
  height: 500px;
}

/* line 83, ../../compass/sass/styles.scss */
.card-header {
  border-bottom: 1px solid black;
  width: 100%;
  margin-top: 20px;
  padding-bottom: 20px;
}

/* line 96, ../../compass/sass/styles.scss */
.card-image-container {
  padding-top: 20px;
}

/* line 99, ../../compass/sass/styles.scss */
.card-image {
  max-width: 100%;
  height: auto;
}

/* line 106, ../../compass/sass/styles.scss */
.in-between-cards {
  margin-bottom: 50px;
}
